LegacyWebApp/Web References/IdentityASMX/IdentityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://legacyasmxapp/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://legacyasmxapp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://legacyasmxapp/">
      <s:element name="GetHeadersAndClaims">
        <s:complexType />
      </s:element>
      <s:element name="GetHeadersAndClaimsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetHeadersAndClaimsResult" type="tns:ValueTupleOfArrayOfValueTupleOfStringStringArrayOfValueTupleOfStringString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValueTupleOfArrayOfValueTupleOfStringStringArrayOfValueTupleOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Item1" type="tns:ArrayOfValueTupleOfStringString" />
          <s:element minOccurs="0" maxOccurs="1" name="Item2" type="tns:ArrayOfValueTupleOfStringString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfValueTupleOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ValueTupleOfStringString" type="tns:ValueTupleOfStringString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ValueTupleOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Item1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Item2" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHeadersAndClaimsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHeadersAndClaims" />
  </wsdl:message>
  <wsdl:message name="GetHeadersAndClaimsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHeadersAndClaimsResponse" />
  </wsdl:message>
  <wsdl:portType name="IdentityServiceSoap">
    <wsdl:operation name="GetHeadersAndClaims">
      <wsdl:input message="tns:GetHeadersAndClaimsSoapIn" />
      <wsdl:output message="tns:GetHeadersAndClaimsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IdentityServiceSoap" type="tns:IdentityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHeadersAndClaims">
      <soap:operation soapAction="http://legacyasmxapp/GetHeadersAndClaims" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IdentityServiceSoap12" type="tns:IdentityServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHeadersAndClaims">
      <soap12:operation soapAction="http://legacyasmxapp/GetHeadersAndClaims" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IdentityService">
    <wsdl:port name="IdentityServiceSoap" binding="tns:IdentityServiceSoap">
      <soap:address location="https://localhost:44395/IdentityService.asmx" />
    </wsdl:port>
    <wsdl:port name="IdentityServiceSoap12" binding="tns:IdentityServiceSoap12">
      <soap12:address location="https://localhost:44395/IdentityService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>