LegacyWebApp/Connected Services/IdentityWCF/IdentityService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44350/IdentityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetHeadersAndClaims">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeadersAndClaimsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetHeadersAndClaimsResult" type="q1:ValueTupleOfArrayOfValueTupleOfstringstringArrayOfValueTupleOfstringstring_ShTDFhl_P" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>